@model ProductAndSortButtonContextViewModel

<table class="table">
    <thead>
        <a onclick="ProductNameSort()" asp-action="ProductOrderBy" asp-controller="Product" asp-route-pagee="@Model.Products.CurrentPage" asp-route-categoryy="@Model.Products.CurrentCategory">
            <button id="ProductNameSort" class="btn btn-xs btn-success">
                @Model.NameContext
            </button>
        </a>

        <a onclick="ProductPriceSort()" asp-action="ProductHightToLower" asp-controller="Product" asp-route-pagee="@Model.Products.CurrentPage" asp-route-categoryy="@Model.Products.CurrentCategory">
            <button id="ProductPriceSort" class="btn btn-xs btn-success">
                @Model.PriceContext
            </button>
        </a>
        <tr>
            <th> ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products.Products)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    <a class="btn btn-xs btn-success"
                       href="/Cart/AddToCart?productId=@item.ProductId&page=@Model.Products.CurrentPage&category=@Model.Products.CurrentCategory">Add To Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* <script>
    let data = document.getElementById("ProductNameSort");
    let data = document.getElementById("ProductNameSort");

    let s = false;
    function ProductNameSort() {
        data.innerText = "salam";
        // if (s) {
        //     data.innerHTML = "Z-A";
        // }
        // else {
        //     data.innerHTML = "A-Z";
        // }
        // s = !s;
    }
</script> *@

<product-list-pager current-category="@Model.Products.CurrentCategory"
                    current-page="@Model.Products.CurrentPage"
                    page-count="@Model.Products.PageCount"
                    page-size="@Model.Products.PageSize">
</product-list-pager>